h1{
    text-align: center;
}
form{
    
    border: 8px solid blanchedalmond;
    border-radius: 25px;
    width: 400px;
    margin: auto;
    padding: 15px;
    font-size: 30px;
    background-color:aqua;

}
.s1:hover{
    box-shadow: 0 0 15px rgba(5, 5, 5, 0.934);
}